<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
    </head>
    <header>
        <h1>Привет, {{ name }}!</h1>
        {% if name == "Админ" %}
        <p>Вы вошли как админ</p>
        {% else %}
        <p>Вы вошли как обычный пользователь</p>
        {% endif %}
    </header>
    <body>
        <h1>Привет, {{ name }}!</h1>
        <p>Добро пожаловать</p>
    </body>
</html>

{% block content %}
<h1>Список пользователей</h1>
<ul>
    {% for user in users %}
    <li>{{user }}</li>
    {% endfor %}
</ul>
{% endblock %}
